<div>
    <!--acá habrá un mapa dinámico re fachero-->
</div>

<div>
    <h3>At <span>Media Digital Group</span>, we believe in the power of ideas… transforming bold visions into thriving businesses.</h3>
</div>

<style>
    div h3{
        font-size: 2rem;
        width: 50%;
        margin: auto;
        font-weight: 300;
        color: #3f3f3f;
        line-height: 1.3;
        text-align: center;
    }div h3 span{
        font-weight: 600;
    }
</style>