<nav>
    <div>
        <img src="/logo.png" alt="">
    </div>
    <div>
        <a href="/">Home</a>
        <a href="/">Who we are</a>
        <a href="/">Solutions</a>
        <a href="/">Blog</a>
        <a href="/">People</a>
        <a href="/">Contact Us</a>
    </div>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2rem;
        background-color: #fff;
       
    }nav a {
        margin-right: 1rem;
        text-decoration: none;
        font-weight: bold;
        color: #666;
        text-transform: uppercase;
        transition: .4s;
    }nav a:hover{
        color: #874fff;
    }nav a:last-child{
        padding: .8rem 1.8rem;
        background-color:#ff7237;
        border-radius: 2rem;
        color: white;
        font-weight:300;
    }
    nav img{
        width: 7rem
    }
</style>